<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4KRrsUUmf-D4y4qgGu5f-BTMin8vTmNk</string>
	<key>GCM_SENDER_ID</key>
	<string>340084891891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kediOtoApp</string>
	<key>PROJECT_ID</key>
	<string>aksesuar-kedi-oto</string>
	<key>STORAGE_BUCKET</key>
	<string>aksesuar-kedi-oto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340084891891:ios:e4903b909edf012fb7d786</string>
</dict>
</plist>